<a href="https://colab.research.google.com/github/thinkud/class2021Spring/blob/main/syntax.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = [5, 0, 1, 3]                                                                #a를 차례대로 돌아가며 i에 repeatedly 대입하고 출력하기
for i in a:                                                                     #print 함수는 앞에 indent 들어가야 = [5, 0, 1, 3]                                                                                                                            
    print(i)

5
0
1
3

In [ ]:
for i in range(3):                                                              #range(3): 범위. 3이전의 정수들
   print(i)

0
1
2

In [ ]:
a = [3, 6, 9, 1]
for i in range(4):
   print(a[i])

3
6
9
1

In [ ]:
a = [1, 2, 3, 4]                                                                # range(1,5)는 1부터 5이전까지. 즉 1,2,3,4
for i in range(1,5):      
    print(a[i])                                                                 #a[4]는 존재하지 않아서 error

2
3
4

IndexError: ignored

In [ ]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for i in range(0,10,2):                                                         # 0부터 9까지 숫자를 2개 간격 두기
    print(a[i])

1
3
5
7
9

In [ ]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for i in range(0,10,3):
    print(a[i])

1
4
7
10

In [ ]:
a = 0
if a == 0:
  print(a)
else:
  print(a+1)

0

In [ ]:
a = 1
if a == 0:
  print(a)
else:
  print(a+1)

2

In [14]:
a = 1                                                                           #a에는 1이 들어가있으니 아무런 결과도 나오지 않음
if a == 0:
  print(a)

In [ ]:
for i in range(1, 3):                                                           #i에 1,2 넣어 돌리기                                                         
   for j in range(3, 5):                                                        #j에 3,4 넣어 돌리기
          print(i*j)                                                            #1*3, 1*4, 2*3, 2*4. 바깥의 range(1,3)이 (3,5)를 돌기기

3
4
6
8

In [ ]:
for i in range(1, 3):                                                           #하위조건은 꼭 indent 필요
    for j in range(3, 5):
        if j>=4:
          print(i*j)

4
8

In [ ]:
a = [1, 2, 3, 4]                                                                #loop list 혹은 list loop라고 함 = [1, 2, 3, 4]                                                                
b = [i for i in a if i >=2]                                                     # for i in [1, 2, 3, 4] if i>=2
b                                                                               #이 조건을 만족하는 i를 b라고 한다

[2, 3, 4]

In [ ]:
a = ['red', 'green', 'blue', 'purple']                                                                                                                   
b = [i for i in a if length(i) >=4]                                             # i에 a의 길이가 4개 이상인 것만 = ['red', 'green', 'blue', 'purple']                                                                                                                   
b                                                                               #a 중에 철자가 4개 이상인 것만 골라 b에 list up

[2, 3, 4]