<a href="https://colab.research.google.com/github/thinkud/class2021Spring/blob/main/syntax.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a = [5, 0, 1, 3]                                                                #a를 차례대로 돌아가며 i에 대입하고 출력하기
for i in a:
    print(i)

5
0
1
3

In [ ]:
for i in range(3):                                                              #range(3): 범위. 3이전의 정수들
   print(i)

0
1
2

In [2]:
a = [3, 6, 9, 1]
for i in range(4):
   print(a[i])

3
6
9
1