<a href="https://colab.research.google.com/github/thinkud/class2021Spring/blob/main/variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a = 1                                                                           #print 함수를 써야 변수를 집어 결과를 볼 수 있음. ; 사용해서 한줄로 나열도 가능.
b = 2
c = 3
print(a)

1

In [3]:
a = 3                                                                           #a의 형태는 integer 즉 정수 = 3                                                                          
print(type(a))

<class 'int'>

In [5]:
a = 2; a = float(a); print(type(a))                                             #a에 float(a)를 새로 assign했으니 type(a)는 float

<class 'float'>

In [4]:
a = 3.2; a =int(a); print(type(a)); print(a)

<class 'int'>
3

In [ ]:
a = 'korea'                                                                     #string: 큰따옴표 혹은 작은따옴표로 둘러싸인 문자열
print(type(a))                                                                  #a[0]은 a의 첫번째 = k. a[4]은 a의 4번째 = a
print(a[0])
print(a[4])

<class 'str'>
k
a

In [6]:
a = '579'
a = list(a)
a

['5', '7', '9']

In [7]:
a = '197'
print(type(a))
a = list(a)
print(type(a))

<class 'str'>
<class 'list'>

In [ ]:
a = [1, 'cde', 4]
print(type(a))
a = [1, '2', [3, '4']]
print(type(a))

<class 'list'>
<class 'list'>

In [10]:
a = [9, 0, 3]
print(a[2])

3

In [ ]:
a = [1, '2',[3, '4']]
print(a[2])

[3, '4']

In [15]:
a = [4, '9', [1, '7']]; print(type(a)); print(a[0]); print(a[1]); print(a[2]); a[1]               #'9'는 string이 맞지만, print 함수가 string의 따옴표를 없애서 
                                                                                                  #print(a[1])은 9로 출력. a[1]의 경우 '9'로 원래대로 출력됨

<class 'list'>
4
9
[1, '7']

'9'

In [18]:
a = {"a": "apple", "b": "orange", "c": 2014}                                    #dictionary는 ""와 ''모두 사용가능. 숫자 대신 표제어로
print(type(a))
a["c"]

<class 'dict'>

2014